<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
      <style>
        
        body{font-family: Sans-Serif}

      </style>
</head>


<div>
  <canvas id = "newChart"></canvas>
<body>
  <script>
  const ctx = document.getElementById('newChart');
  const labels = {{labels|tojson}};
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        data: {{data|tojson}},
        label: {{ticker_name|tojson|safe}},
        borderColor: '#ff6384',
        tension: 0.1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }, 
      responsive: true
    }
  });
  </script>
</body>
</div>

<h1> Returned Data for {{ticker_name}}</h1>
<div>
  <h1>Basic Table</h1>
  <hr>
  <div id="table"></div>
</div>
    <body>
      <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
      <script>
      new gridjs.Grid({
        columns: [
          { id: 'date', name: 'Date' },
          { id: 'price', name: 'Price $' }
        ],
        data: [
          {% for x in temp_data%}
            {
            date: '{{x[0]}}', 
            price: '{{x[1]}}'
            },
          {%endfor%}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
      }).render(document.getElementById('table'));




      </script>
    
    </body>
</html>