<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<div>
  <canvas id = "newChart" width="400" height="400"></canvas>
<body>
  <script>
  const ctx = document.getElementById('newChart');
  var ticker_data = '{{ticker_data}}'
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ticker_data,
      datasets: [{
        data: {{ticker_data}},
        label: {{ticker_name|tojson|safe}},
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  </script>
</body>
</div>

</html>