<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<div>
  <canvas id = "newChart"></canvas>
<body>
  <script>
  const ctx = document.getElementById('newChart');
  const labels = {{labels|tojson}};
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        data: {{data|tojson}},
        label: {{ticker_name|tojson|safe}},
        borderColor: '#ff6384',
        tension: 0.1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }, 
      responsive: true
    }
  });
  </script>
</body>
</div>

</html>